/*Font Import from google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/*Variable Color*/
$primary-color : #558F4D;
$text-color :#42494D;

*,::before,::after,p,h1,h2,h3,h4,h5,h6 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #F6F6F6;
}
  
/*Sidebar Style*/
#app {
    #sidebar {
        .sidebarWrapper {
            background-color: #fff;
            padding: 2rem 0;
            transition: .7s ease;
            border-right: 1px solid #D0D0D0;
            z-index: 100;
            overflow-y: scroll;
            .brandName {
                display: flex;
                justify-content: center;
                margin-bottom: 1.5rem;
                img {
                    width: 100%;
                    max-width: 200px;
                    transition: .5s;
                }
            }

            .wrapperMenuSidebar {
                .listMenuSidebar {
                    list-style: none;
                    padding-left: 0;
                    .sidebarMenu {
                        margin: 1rem 0;
                        .linkMenu {
                            display: flex;
                            align-items: center;
                            padding: .5rem 1.5rem;
                            text-decoration: none;
                            position: relative;
                            color: rgba(27, 28, 49, .4);
                            font-weight: 500;
                            cursor: pointer;
                            svg {
                                margin-right: .7rem;
                                width: 100%;
                                max-width: 26px;
                                fill: #7B8082;
                            }
                        }
                        &.active {
                            .linkMenu {
                                background-color: #F5F5F5;
                                color: $primary-color;
                                svg {
                                    fill: $primary-color;
                                }
                                &::before {
                                    content: '';
                                    display: block;
                                    height: 100%;
                                    width: 5px;
                                    border-radius: 0 5px 5px 0;
                                    position: absolute;
                                    left: 0px;
                                    background-color: $primary-color;
                                }
                            }
                        }
                        &.haveSubmenu {
                            .submenuWrapper {
                                display: none;
                                .submenu {
                                    .linkMenu {
                                        color: rgba(27, 28, 49, .4);
                                        &.active {
                                            color: $primary-color;
                                        }
                                    }
                                }
                            }
                        }
                        &.submenuActive {
                            .submenuWrapper {
                                display: block;
                            }
                        }

                        .submenuWrapper {
                            list-style: none;
                            padding-left: 4rem;
                            .submenu {
                                padding: 0;
                                .linkMenu {
                                    padding: .5rem 0;
                                    background-color: #fff;
                                    width: fit-content;
                                    position: relative;
                                    margin: 0;
                                    &::before {
                                        display: none;
                                    }
                                    &.active {
                                        &::after {
                                            content: '';
                                            position: absolute;
                                            display: block;
                                            height: 3px;
                                            background-color: $primary-color;
                                            bottom: 0px;
                                            z-index: 3;
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*Sidebar Style Responsive*/
@media screen and (min-width : 1200px) {
    #app {
        #sidebar {
            .sidebarWrapper {
                width: 350px;
                position: fixed;
                left: 0;
                height: 100%;
            }
        }
    }
}
@media screen and (max-width : 1199px) {
    #app {
        #sidebar {
            .sidebarWrapper {
                width: 350px;
                position: fixed; 
                left: -350px;
                height: 100%;
            }
            .sidebar-active {
                left: 0px;
            }
        }
    }
}
@media screen and (max-width : 475px) {
    #app {
        #sidebar {
            .sidebarWrapper {
                width: 300px;
                .brandName {
                    img {
                        max-width: 160px;
                    }
                }
                .wrapperMenuSidebar {
                    .listMenuSidebar {
                        .sidebarMenu {
                            .linkMenu {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
/*Content layouting*/
#app {
    #mainContent {

        .headContent {
            background: #fff;
            padding: 1.7rem 1.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #D0D0D0;
            transition: .5s;

            .sidebarButton {
                padding: 2px 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid $primary-color;
                transition: .5s;
                border-radius: 4px;
                opacity: 1;
                &:hover {
                    background-color: $primary-color;
                    cursor: pointer;
                    transition: .3s;
                    i {
                        color: #fff;
                        transition: .3s;
                    }
                }
                i {
                    font-size: 24px;
                    transition: .3s;
                }
            }

            .headControl {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: flex-end;
                .control {
                    margin: 0 .7rem;
                }
                .notification {
                    .notificationButton {
                        background: transparent;
                        border: none;
                        position: relative;
                        .valueNotification {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 12px;
                            top: -8px;
                            right: -2px;
                            color: #fff;
                            position: absolute;
                            p {
                                color: #FFF;
                                position: relative;
                                z-index: 2;
                            }
                            &::before {
                                content: '';
                                display: block;
                                height: 24px;
                                width: 24px;
                                position: absolute;
                                border-radius: 50%;
                                background-color: $primary-color;
                            }
                        }
                    }

                    .dropdown-menu {
                        border-radius: 10px !important;
                        padding: 1rem 0;
                        opacity: 0;

                        &.show {
                            opacity: 1;
                        }

                        .headText {
                            padding: 1rem 1.5rem;
                        }
                        li {
                            .dropdown-item {
                                display: flex;
                                align-items: center;
                                padding: .5rem 1rem;
                                background-color: #fff;

                                &:hover {
                                    background-color: #ededed;
                                }

                                .icon {
                                    img {
                                        max-width: 26px;
                                    }
                                }
                                .detailMassage {
                                    padding-left: 1rem;
                                    width: 100%;
                                    .labelMassage {
                                        font-size: 18px;
                                        margin-bottom: .4rem;
                                        color: #000;
                                        font-weight: 600;
                                        max-width: 350px;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                    }
                                    .message {
                                        font-size: 14px;
                                        margin-bottom: 2px;
                                        color: #000;
                                        white-space: pre-wrap;
                                        overflow: hidden;
                                        max-width: 350px;
                                    }
                                    .time {
                                        font-size: 14px;
                                        color: #7A7A7A;
                                    }
                                }
                            }

                            .read {
                                .icon {
                                    img {
                                        opacity: .7;
                                    }
                                }
                                .detailMassage {
                                    .labelMassage {
                                        color: #7A7A7A;
                                    }
                                    .message {
                                        color: #7A7A7A;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .bodyContent {
            padding: 1.5rem;
        }
    }
}

//Responsive Notification 
@media screen and (max-width : 570px) {
    #app {
        #mainContent {
            .headContent {
                .headControl {
                    .notification {
                        .dropdown-menu {
                            li {
                                .dropdown-item {
                                    .icon {
                                        img {
                                            max-width: 20px;
                                        }
                                    }
                                    .detailMassage {
                                        .labelMassage {
                                            font-size: 14px;
                                        }
                                        .message {
                                            font-size: 12px;
                                        }
                                        .time {
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width : 475px) {
    #app {
        #mainContent {
            .headContent {
                .headControl {
                    .notification {
                        .dropdown-menu {
                            li {
                                .dropdown-item {
                                    flex-direction: column;
                                    align-items: flex-start;
                                    .icon {
                                        margin-bottom: 1rem;
                                    }
                                    .detailMassage {
                                        padding-left: 0;
                                        .labelMassage {
                                            font-size: 14px;
                                            max-width: 300px;
                                        }
                                        .message {
                                            font-size: 12px;
                                        }
                                        .time {
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*Responsive Content Layoting*/
@media screen and (min-width : 1200px) {
    #app {
        #mainContent {
            margin-left: 350px;
            transition: .7s ease;
        }
    }
}
@media screen and (max-width : 1199px) {
    #app {
        #mainContent {
            margin-left: 0px;
            transition: .7s ease;
        }
    }
}

/*responsive respone button sidebar*/
@media screen and (min-width :1200px) {
    #app {
        #mainContent {
            .headContent {
                .sidebarButton {
                    opacity: 0;
                }
            }
        }
    }
}


/*Component Class*/

/*alert*/
.alert {
    position: absolute;
    left: 0;
    top: -40px;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    font-weight: 300;
    ion-icon {
        margin-right: .5rem;
        font-size: 20px;
        font-weight: 700 !important;
    }
    &.alert-success {
        background-color: #558F4D;
        color: #fff;
        border: none;
    }
    &.alert-danger {
        background-color: rgba(242, 69, 61, 1);
        color: #fff;
        border: none;
    }
}
/*Chart*/
.wrapperChart {
    width: 100%;
    position: relative;
    &.borderChart {
        padding: .5rem;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
    }
    canvas {
        width: 100%;
    }
}
/*Table*/
.wrapperTable {
    .head-table {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        h5 {
            font-weight: 700;
            font-size: 18px;
            color: $text-color;
        }
    }
    .pagination {
        margin-top: 2rem;
        .paginate_button {
            &.active {
                .page-link {
                    background: $primary-color !important;
                    color: #fff;
                    border-radius: 6px;
                }
            }
            .page-link {
                border: none;
                background: transparent !important;
                color: #000;
                padding: .2rem .8rem;
                font-weight: 300;
            }
        }
    }
    .tables {
        width: 100%;
        thead {
            tr {
                th {
                    color: $text-color;
                    font-weight: 500;
                    vertical-align: middle;
                    padding: .8rem;
                    background-color: #ECEDED !important;
                }
            }
        }
        tbody {
            tr {
                td {
                    color: $text-color;
                    font-weight: 400;
                    vertical-align: middle;
                    height: 100%;
                    padding: .8rem;
                    background-color: #fff;
                    font-size: 16px;

                    .btnUpdate {
                        text-decoration: none;
                        color: $primary-color;
                        &:hover {
                            font-weight: 500;
                        }
                    }
                    .detailUser {
                        text-decoration: none;
                        .name {
                            font-weight: 500;
                            color: #000;
                        }
                        .nomorNRP {
                            background: $primary-color;
                            padding: .2rem .4rem;
                            border-radius: 5px;
                            margin: .2rem 0;
                            color: #fff;
                            width: fit-content;
                        }
                    }
                    .detailBank {
                        .namaBank {
                            font-weight: 500;
                            color: #000;
                        }
                        .nomor-rekening {
                            background: $primary-color;
                            padding: .2rem .4rem;
                            border-radius: 5px;
                            margin: .2rem 0;
                            color: #fff;
                            width: fit-content;
                        }
                    }
                    .action {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        button {
                            background: transparent;
                            border: none;
                        }
                        .action-menu {
                            li {
                                .action-item {
                                    font-size: 14px;
                                    color: $text-color;
                                }
                            }
                        }
                    }
                    .status {
                        padding: 6px 12px;
                        font-weight: 500;
                        border-radius: 999px;
                        width: fit-content;
                        &.primary-status {
                            background-color: #EBF2EA;
                            color: $primary-color;
                        }
                        &.danger-status {
                            background-color: rgb(255, 234, 239);
                            color: rgb(239, 20, 74);
                        }
                    }
                    &.null {
                        color: rgb(239, 20, 74) !important;
                        font-style: italic;
                    }
                }
            }
        }
    }
    .exportSection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        p {
            color: #7b7b7b;
            font-weight: 500;
            font-size: 14px;
        }
        .file-download {
            .btnExport {
                padding: .5rem .3rem;
                background-color: #fff;
                border: 3px solid $primary-color;
                border-radius: 10px;
                img {
                    width: 100%;
                    max-width: 38px;
                    transition: transform .3s ease;
    
                }
                &:hover {
                    img {
                        transform: translateY(-5px);
                        transition: transform .3s ease;
                    }
                }
            }
        }
    }
    .dataTables_length {
        label {
            .form-select {
                border: 2px solid rgba(179, 182, 184, 1);
                border-radius: 8px;
                padding: 6px 12px;
                background-image: none;
                text-align: center;
                &:focus {
                    border: 2px solid $primary-color;
                    box-shadow: none !important; 
                }
            }
        }
    }
    .dataTables_filter {
        label {
            .form-control {
                padding: 6px 12px;
            }
        }
    }
}
@media screen and (max-width :992px) {
    .wrapperTable {
        .head-table {
            h5 {
                font-size: 14px;
            }
        }
        .tables {
            thead {
                tr {
                    th {
                        font-size: 14px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        font-size: 12px;
                        .action {
                            .action-menu {
                                li {
                                    .action-item {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .exportSection {
            flex-direction: column;
            align-items: flex-end;
            p {
                margin-bottom: 1rem;
                font-size: 12px;
            }
        }
        .dataTables_length {
            label {
                font-size: 12px;
                .form-select {
                    font-size: 12px;
                }
                
            }
        }
        .dataTables_filter {
            label {
                font-size: 12px;
                .form-control {
                    max-width: 188px;
                }
            }
        }
        .dataTables_info {
            font-size: 12px !important  ;
        }
        .pagination {
            .paginate_button {
                .page-link {
                    font-size: 12px;
                }
            }
        }
    }
}
@media screen and (max-width :768px) {
    .wrapperTable {
        .dataTables_length {
            margin-bottom: .5rem !important;
        }
    }
}
/*Nav Tabs Menu*/
nav {
    .nav-tabs {
        border: none;
        flex-wrap: nowrap;
        border-bottom: 1px solid #B3B6B8;
        margin: 1.5rem 0;
        .nav-link {
            color: #ABABAB;
            font-weight: 500;
            border: none;
            padding: 14px 24px;
            border-radius: 0px;
            font-size: 14px;
            &.active {
                background-color: transparent;
                color: $primary-color;
                border: none;
                border-bottom: 2px solid $primary-color;
            }
        }
    }
}
.tabsLinkMenu {
    flex-wrap: nowrap;
    padding: 1.5rem 0;
    .tabs-link {
        color: #ABABAB;
        font-weight: 500;
        border: none;
        padding: .7rem 1rem;
        border-radius: 0px;
        text-decoration: none;
        &.active {
            background-color: transparent;
            color: $primary-color;
            border: none;
            border-bottom: 2px solid $primary-color;
        }
    }
}
/*Card*/
.card {
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: none;
    padding: 20px;
    border: none;
    box-shadow: 0px 3px 9px rgba(162, 162, 162, 0.1);
    .header-card {
        padding: 0;
        box-shadow: none;
        background-color: transparent;
        h5 {
            color: $text-color;
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 1.5rem;
        }
    }
}
@media screen and (max-width : 576px) {
    .card {
        padding: 16px !important;
        .header-card {
            h5 {
                font-size: 14px;
            }
        }
    }
    nav {
        .nav-tabs {
            overflow-y: hidden;
            overflow-x: auto;
            .nav-link {
                font-size: 12px;
                padding: .5rem 1rem;
            }
        }
    }
    .tabsLinkMenu {
        overflow-y: hidden;
        overflow-x: auto;
        .tabs-link {
            font-size: 12px;
            padding: .5rem 1rem;
        }
    }
}
/*Component Button*/
.button {
    border-radius: 8px;
    border: none;
    font-weight: 600;
    width: fit-content;
    vertical-align: middle;
    padding: 8px 16px;
    text-align: center;
    display: block;
    text-decoration: none;
  
    /*Style Button*/
    &.button-primary {
      background-color: $primary-color;
      color: #FFF;
      transition: background-color .3s ease;
      &:hover {
        background-color: #4E8746;
        transition: background-color .3s ease;
      }
    }
    &.button-danger {
      background-color: #E33B3B;
      color: #FFF;
      transition: background-color .15s ease-in-out;
      &:hover {
        background-color: #E33B3B;
        transition: background-color .15s ease-in-out;
      }
    }
    &.button-outline {
      background-color: #FFF;
      border: 1px solid $primary-color;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
      &:hover {
        color: #FFF;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
      }
    }
    &.button-outline-primary {
      border: 1px solid $primary-color;
      background-color: #FFF;
      color: $primary-color;
      text-decoration: none;
      z-index: 2;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
      &:hover {
        background-color: $primary-color;
        color: #FFF;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
      }
    }
    &.button-outline-danger {
      border: 1px solid #E33B3B;
      background-color: transparent;
      color: #E33B3B;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
      &:hover {
        background-color: #E33B3B;
        color: #fff;
      }
    }
    &.button-ghost {
      color: $primary-color;
      background-color: transparent;
      transition: color .2s ease;
      &:hover {
        color: #28a26a;
        transition: color .2s ease;
      }
    }
    &.button-link {
      color: $primary-color;
    }
    &.button-text {
      padding: 0 !important;
      border-radius: 0 !important;
      background-color: transparent;
      color: $primary-color;
    }
    &.button-radius {
      border-radius: 9999px;
    }
    &.button-group{
        padding: 8px 12px;
        display: flex;
        align-items: center;
        img {
            width: 100%;
            max-width: 14px;
            max-height: 14px;
            margin-right: 14px;
        }
    }
    /*Size Button*/
    &.xs-button {
      padding: 7px 16px;
      font-size: 10px;
    }
    &.sm-button {
      padding: 8px 16px;
      font-size: 12px;
    }
    &.md-button {
      padding: 8px 16px;
      font-size: 16px;
    }
    &.xl-button {
      padding: 8px 16px;
      font-size: 20px;
    }
    &.disabled {
      pointer-events: none;
      opacity: .65;
    }
}
//Responsive Button 
@media screen and (min-width : 0px) {
    .button {
        font-size: 12px;
    }
}
@media screen and (min-width : 576px) {
    .button {
        font-size: 14px;
    }
}
//Focus Input
.head-label {
    color: $text-color;
    margin: 1rem 0 1.5rem 0;
    font-weight: 700;
    font-size: 18px;
}
.form-input {
    margin-bottom: 20px;
    .input-group {
        .input-group-text {
            background-color: transparent;
            border-left: 2px solid rgba(179, 182, 184, 1);
            border-top: 2px solid rgba(179, 182, 184, 1);
            border-bottom: 2px solid rgba(179, 182, 184, 1);
            font-size: 14px;
            border-radius: 8px 0 0 8px;
            padding: 12px 0 12px 16px;
        }
        .form-control {
            border-left: none;
            &:focus {
                border-color: rgba(179, 182, 184, 1);
            }
        }
    }
}
.form-label {
    font-size: 14px;
    color: $text-color;
    font-weight: 500;
}
.form-control,textarea{
    border: 2px solid rgba(179, 182, 184, 1);
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    color: $text-color;
    width: 100%;
    transition: border .2s ease;
    &::placeholder {
        color: #B3B6B8;
        font-weight: 400;
    }
    &:focus {
        transition: border .2s ease;
        box-shadow: none;
        border: 2px solid $primary-color;
    }
}
.form-select {
    border: 2px solid rgba(179, 182, 184, 1);
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    color: $text-color;
    width: 100%;
    transition: border .2s ease;
    &:focus {
        transition: border .2s ease;
        box-shadow: none;
        border: 2px solid $primary-color;
    }
    option {
        color: $text-color;
        color: #B3B6B8;
    }
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="checkbox"]:focus,
.uneditable-input:focus {   
  border-color: $primary-color;
  box-shadow: none;
  outline: 1 none;
  border: 2px solid $primary-color;
}
input[type="text"]:disabled {
    background: #fff;
    color: #B3B6B8;
}
input[type="number"]:disabled {
    background: #fff;
    color: #B3B6B8;
}
input[type="email"]:disabled {
    background: #fff;
    color: #B3B6B8;
}
input[type="date"]:disabled {
    background: #fff;
    color: #B3B6B8;
}
select:disabled {
    background: #fff !important;
    color: #B3B6B8 !important;
}

input[type="checkbox"]:checked{
  border: 1px solid $primary-color;
  background-color: $primary-color;
}
@media screen and (max-width : 576px) {
    .form-control {
        font-size: 12px;
        padding: 8px 12px;
        
    }
    .form-input {
        margin-bottom: 14px;
        .input-group {
            .input-group-text {
                font-size: 12px ;
            }
        }
    }
    .form-label {
        font-size: 12px;
    }
    .form-select {
        font-size: 12px;
    }
}
//modal 
.modal {
    .modal-content {
        .modal-header {
            .modal-title {
                color: $text-color;
                font-weight: 700;
            }
            .btn-close {
                box-shadow: none;
            }
        }
        .modal-body {
            padding: 24px 1rem;
        }
    }
}
//text 
.text-primary {
    color: $primary-color !important;
    text-decoration: none;
}
.text-limit {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.bold {
    font-weight: 600;
}

@media screen and (max-width : 575px) {
    .detail-table-pengajuan {
        p {
            font-size: 12px !important;
        }
    }
}

//Multiple Upload Image
#multiple-images-wrapper {
    .form-input {
        display: flex;
        flex-direction: column;
        .form-control {
            display: none;
        }
        .wrapper-images-preview {
            display: flex;
            border: 2px solid rgba(179, 182, 184, 1);
            border-radius: 8px;
            padding: .5rem;
            #image-preview {
                border-radius: 8px;
                display: flex;
                img {
                    width: 100%;
                    max-width: 74px;
                    max-height: 74px;
                    margin-right: 5px;
                    border-radius: 8px;
                    object-fit: contain;
                }
            }
            .add-images-button {
                border: 2px solid rgba(236, 237, 237, 1);
                display: flex;
                align-items: center;
                justify-content: center;
                height: 74px;
                width: 74px;
                border-radius: 10px;
                transition: .2s ease;
                cursor: pointer;
                &:hover {
                    border-color: $primary-color;
                    ion-icon {
                        color: $primary-color;
                        transition: .2s ease;
                    }
                }
                ion-icon {
                    font-size: 22px;
                    color: #B3B6B8;
                    transition: .2s ease;
                }
            }
        }
        .info {
            font-size: 12px;
            color: #B3B6B8;
            margin-top: 4px;
        }
    }
}
.head-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.4rem;
    .titlePage {
        color: $text-color;
        font-weight: 700;
    }
}
//breadcrumb 
.breadcrumb {
    margin: 0;
    .breadcrumb-item {
        font-size: 14px;
        a {
            color: $primary-color;
            font-weight: 500;
            text-align: center;
        }
        &.active {
            color: $primary-color;
            font-weight: 500;
        }
    }
}

@media screen and (max-width : 575px) {
    .head-page {
        flex-direction: column;
        .titlePage {
            font-size: 20px;
            margin-bottom: 1rem;
        }
    }
    .breadcrumb {
        width: 100%;
        .breadcrumb-item {
            font-size: 10px;
            a {
                color: $primary-color;
                font-weight: 600;
                display: block;
                height: 100%;
            }
            &.active {
            }
        }
    }
}