/*Font Import from google font*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*,::before,::after,p,h1,h2,h3,h4,h5,h6 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'DM Sans', sans-serif;
}
body {
    background-color: #F6F6F6;
}
  

/*Variable Color*/
$primary-color : #74B257;



/*Sidebar Style*/
#app {
    #sidebar {
        .sidebarWrapper {
            background-color: #fff;
            padding: 2rem 0;
            transition: .7s ease;
            border-right: 1px solid #D0D0D0;
            z-index: 999999;
            overflow-y: scroll;
            .brandName {
                display: flex;
                justify-content: center;
                margin-bottom: 1.5rem;
                img {
                    width: 100%;
                    max-width: 200px;
                    transition: .5s;
                }
            }

            .wrapperMenuSidebar {
                .listMenuSidebar {
                    list-style: none;
                    padding-left: 0;
                    .sidebarMenu {
                        margin: 1rem 0;
                        .linkMenu {
                            display: flex;
                            align-items: center;
                            padding: .5rem 1.5rem;
                            text-decoration: none;
                            position: relative;
                            color: rgba(27, 28, 49, .4);
                            font-weight: 700;
                            cursor: pointer;
                            img {
                                margin-right: 1rem;
                                width: 100%;
                                max-width: 26px;
                            }
                        }
                        &.active {
                            .linkMenu {
                                background-color: #F5F5F5;
                                &::before {
                                    content: '';
                                    display: block;
                                    height: 100%;
                                    width: 5px;
                                    border-radius: 0 5px 5px 0;
                                    position: absolute;
                                    left: 0px;
                                    background-color: $primary-color;
                                }
                            }
                        }
                        &.haveSubmenu {
                            .submenuWrapper {
                                display: none;
                                
                            }
                        }
                        &.submenuActive {
                            .submenuWrapper {
                                display: block;
                            }
                        }

                        .submenuWrapper {
                            list-style: none;
                            padding-left: 4.2rem;
                            .submenu {
                                padding: 0;
                                .linkMenu {
                                    padding: .4rem 0;
                                    background-color: #fff;
                                    width: fit-content;
                                    position: relative;
                                    margin: 0;
                                    &::before {
                                        display: none;
                                    }
                                    &.active {
                                        &::after {
                                            content: '';
                                            position: absolute;
                                            display: block;
                                            height: 3px;
                                            background-color: $primary-color;
                                            bottom: 0px;
                                            z-index: 3;
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*Sidebar Style Responsive*/
@media screen and (min-width : 1200px) {
    #app {
        #sidebar {
            .sidebarWrapper {
                width: 350px;
                position: fixed;
                left: 0;
                height: 100%;
            }
        }
    }
}
@media screen and (max-width : 1199px) {
    #app {
        #sidebar {
            .sidebarWrapper {
                width: 350px;
                position: absolute; 
                left: -350px;
                height: 100%;
            }
            .sidebar-active {
                left: 0px;
            }
        }
    }
}
@media screen and (max-width : 475px) {
    #app {
        #sidebar {
            .sidebarWrapper {
                width: 300px;
                .brandName {
                    img {
                        max-width: 160px;
                    }
                }
                .wrapperMenuSidebar {
                    .listMenuSidebar {
                        .sidebarMenu {
                            .linkMenu {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*Content layouting*/
#app {
    #mainContent {

        .headContent {
            background: #fff;
            padding: 1.7rem 1.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #D0D0D0;
            transition: .5s;

            .sidebarButton {
                padding: 2px 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid $primary-color;
                transition: .5s;
                border-radius: 4px;
                opacity: 1;
                &:hover {
                    background-color: $primary-color;
                    cursor: pointer;
                    transition: .3s;
                    i {
                        color: #fff;
                        transition: .3s;
                    }
                }
                i {
                    font-size: 24px;
                    transition: .3s;
                }
            }

            .headControl {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: flex-end;
                .control {
                    margin: 0 .7rem;
                }
                .notification {
                    .notificationButton {
                        background: transparent;
                        border: none;
                        position: relative;
                        .valueNotification {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 12px;
                            top: -8px;
                            right: -2px;
                            color: #fff;
                            position: absolute;
                            p {
                                color: #FFF;
                                position: relative;
                                z-index: 2;
                            }
                            &::before {
                                content: '';
                                display: block;
                                height: 24px;
                                width: 24px;
                                position: absolute;
                                border-radius: 50%;
                                background-color: $primary-color;
                            }
                        }
                    }

                    .dropdown-menu {
                        border-radius: 10px !important;
                        padding: 1rem 0;
                        opacity: 0;

                        &.show {
                            opacity: 1;
                        }

                        .headText {
                            padding: 1rem 1.5rem;
                        }
                        li {
                            .dropdown-item {
                                display: flex;
                                align-items: center;
                                padding: .5rem 1rem;
                                background-color: #fff;

                                &:hover {
                                    background-color: #ededed;
                                }

                                .icon {
                                    img {
                                        max-width: 26px;
                                    }
                                }
                                .detailMassage {
                                    padding-left: 1rem;
                                    width: 100%;
                                    .labelMassage {
                                        font-size: 18px;
                                        margin-bottom: .4rem;
                                        color: #000;
                                        font-weight: 600;
                                        max-width: 350px;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                    }
                                    .message {
                                        font-size: 14px;
                                        margin-bottom: 2px;
                                        color: #000;
                                        white-space: pre-wrap;
                                        overflow: hidden;
                                        max-width: 350px;
                                    }
                                    .time {
                                        font-size: 14px;
                                        color: #7A7A7A;
                                    }
                                }
                            }

                            .read {
                                .icon {
                                    img {
                                        opacity: .7;
                                    }
                                }
                                .detailMassage {
                                    .labelMassage {
                                        color: #7A7A7A;
                                    }
                                    .message {
                                        color: #7A7A7A;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .bodyContent {
            padding: 1.5rem;
        }
    }
}

//Responsive Notification 
@media screen and (max-width : 570px) {
    #app {
        #mainContent {
            .headContent {
                .headControl {
                    .notification {
                        .dropdown-menu {
                            li {
                                .dropdown-item {
                                    .icon {
                                        img {
                                            max-width: 20px;
                                        }
                                    }
                                    .detailMassage {
                                        .labelMassage {
                                            font-size: 14px;
                                        }
                                        .message {
                                            font-size: 12px;
                                        }
                                        .time {
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width : 475px) {
    #app {
        #mainContent {
            .headContent {
                .headControl {
                    .notification {
                        .dropdown-menu {
                            li {
                                .dropdown-item {
                                    flex-direction: column;
                                    align-items: flex-start;
                                    .icon {
                                        margin-bottom: 1rem;
                                    }
                                    .detailMassage {
                                        padding-left: 0;
                                        .labelMassage {
                                            font-size: 14px;
                                            max-width: 300px;
                                        }
                                        .message {
                                            font-size: 12px;
                                        }
                                        .time {
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*Responsive Content Layoting*/
@media screen and (min-width : 1200px) {
    #app {
        #mainContent {
            margin-left: 350px;
            transition: .7s ease;
        }
    }
}
@media screen and (max-width : 1199px) {
    #app {
        #mainContent {
            margin-left: 0px;
            transition: .7s ease;
        }
    }
}

/*responsive respone button sidebar*/
@media screen and (min-width :1200px) {
    #app {
        #mainContent {
            .headContent {
                .sidebarButton {
                    opacity: 0;
                }
            }
        }
    }
}


//component class

/*Chart*/
.wrapperChart {
    width: 100%;
    canvas {
        width: 100%;
    }
}
