/*Font Import from google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/*Variable Color*/
$primary-color : #558F4D;
$text-color :#42494D;

*,::before,::after,p,h1,h2,h3,h4,h5,h6 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.baltab-last-statistic {
    .card {
        .header-card {
            border-bottom: 1px solid #ECEDED;
            padding-bottom: 1.2rem;
            margin-bottom: .5rem;
            h5 {
                margin-bottom: 8px;
            }
            p {
                font-weight: 400;
                font-size: 12px;
                color: #7B8082;
            }
        }
        .wrapperTable {
            .tables {
                tbody {
                    tr {
                        td {
                            font-size: 14px;
                            .icon-profile {
                                width: 100%;
                                max-width: 32px;
                                max-height: 32px;
                                min-width: 30px;
                                min-height: 30px;
                            }
                        }
                    }
                }
            }
        }
        .info {
            color: #7B8082;
            font-size: 14px;
            text-align: center;
            max-width: 214px;
            line-height: 21px;
            padding: 2rem 0;
        }
    }
}