/*Font Import from google font*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*,::before,::after,p,h1,h2,h3,h4,h5,h6 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'DM Sans', sans-serif;
}

/*Variable Color*/
$primary-color : #74B257;



#app {
    #mainContent {
        .bodyContent {
            .firstLine {
                display: flex;
                margin-bottom: 1.7rem;
                //Total Data Personil
                .personilData {
                    display: flex;
                    flex-direction: column;
                    .personil {
                        border-radius: 20px;
                        display: flex;
                        align-items: center;

                        &.aktifPersonil {
                            background-color: #eaf0ee;
                        }
                        &.pensiunPersonil {
                            background-color: #f5ebe9;
                        }
                        
                        .icon {
                            img {
                                width: 100%;
                                max-width: 26px;
                            }
                        }
                        .infoPersonil {
                            padding-left: 1rem;
                            h4 {
                                font-weight: 600;
                            }
                        }
                    }
                }
                //Total User Section
                .userDataWrapper {
                    display: flex;
                    flex-direction: column;
                    .firstRow,.secondRow {
                        display: flex;
                        .userData {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            text-align: center;
                            justify-content: center;
                            width: 100%;
                            border-radius: 12px;

                            .icon {
                                margin-bottom: .7rem;
                                img {
                                    width: 100%;
                                }
                            }
                            .detailData {
                                h5 {
                                    font-weight: 500;
                                    margin-bottom: .1rem;
                                    line-height: 18px;
                                }
                                p {
                                    color: rgba(184, 184, 184, 1);
                                    font-weight: 600;
                                }                                
                            }

                            &.purple {
                                background-color: #eeedf2;
                            }
                            &.green {
                                background-color: #eaf0ee;
                            }
                            &.red {
                                background-color: #f5ecea;
                            }
                            &.blue {
                                background-color: #eaeef4;
                            }
                        }
                    }
                }
            }
            .secondLine {
                .containerLine {
                    /*Baltab*/
                    .containerBaltab {
                        margin-bottom: 2rem;
                        h4 {
                            margin-bottom: .7rem;
                            font-weight: 700;
                        }
                        .wrapperDataBaltab {
                            display: flex;
                            .baltabData {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                border-radius: 10px;
                                text-align: center;

                                .icon {
                                    margin-bottom: 1rem;
                                    img {
                                        width: 100%;
                                    }
                                }
                                h4 {
                                    font-weight: 600;
                                    color: #3E3C3C;
                                }
                                p {
                                    font-family: 400;
                                    color: #3E3C3C;
                                }

                                &.orangeData {
                                    background: #f5ebe9;
                                }
                                &.greenData {
                                    background: #eaf0ee;
                                }
                                &.blueData {
                                    background: #eaeef4;
                                }
                            }
                        }
                    }
                    /*Akunting*/
                    .containerAkunting {
                        margin-bottom: 2rem;
                        h4 {
                            margin-bottom: .7rem;
                            font-weight: 700;
                        }
                        .wrapperContentAkunting {
                            .wrapperTable {
                                &:not(:last-child) {
                                    margin-bottom: 1rem;
                                }
                                .titleTable {
                                    margin-bottom: .5rem;
                                }
                                .tables {
                                    background-color: #fff;
                                    thead {
                                        color: #fff;
                                        tr {
                                            th {
                                                border-bottom: none !important;
                                                padding: .8rem;
                                            }
                                        }
                                    }
                                    tbody {
                                        tr {
                                            td {
                                                font-weight: 300;
                                                vertical-align: middle;
                                                padding: .8rem;

                                            }
                                        }
                                    }
                                    &.saldoAkunTable {
                                        thead {
                                            background-color:#3F8CFF;
                                        }
                                    }
                                    &.hutangPerAkun {
                                        thead {
                                            background-color: #FF9379;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    /*KPR*/
                    .containerKPR {
                        margin-bottom: 2rem;
                        h4{
                            margin-bottom: .7rem;
                            font-weight: 700;
                        }
                        .firstLineKPR {
                            display: flex;
                            .tunggakanLine {
                                .tunggakan {
                                    display: flex;
                                    align-items: center;
                                    background: #f5ecea;
                                    border-radius: 10px;
                                    .infoTunggakan {
                                        color: #3E3C3C;
                                        h5 {
                                            font-weight: 600;
                                        }
                                        p {
                                            color: #3E3C3C;
                                            .valueTunggakan {
                                                text-decoration: none;
                                                color: #3E3C3C;
                                            }
                                        }
                                    }
                                }
                            }
                            .debiturLine {
                                .debitur {
                                    display: flex;
                                    align-items: center;
                                    position: relative;

                                    .iconDebitur {
                                        img {
                                            width: 100%;
                                        }
                                    }
                                    &::before {
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        left: 0;
                                        width: 10px;
                                        height: 100%;
                                        border-radius: 0 10px 10px 0;
                                    }

                                    &.debiturBTN {
                                        background: #f0ecf6;
                                        &::before {
                                            background: #7537FF;
                                        }
                                    }
                                    &.debiturBRI {
                                        background: #eceef0;
                                        &::before {
                                            background: rgba(40, 78, 120, 0.8);
                                        }
                                    }

                                    .infoDebitur {
                                        color: #3E3C3C;
                                        h5 {
                                            font-weight: 600;
                                        }
                                        p {
                                            font-weight: 600;
                                            color: #3E3C3C;
                                            .value {
                                                padding: 0 4px;
                                            }
                                        }
                                        .month {
                                            font-weight: 400;
                                        }
                                    }
                                }
                            }
                        }
                        .secondLineKpr {
                            .debiturDataLine {
                                .debitur {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    position: relative;
                                    padding: 1rem 1rem 1rem 1.5rem;
                                    border-radius: 0 10px 10px 0;

                                    .infoDebitur {
                                        h5 {
                                            margin-bottom: .7rem;
                                        }
                                        p {
                                            font-weight: 600;
                                        }
                                        .month {
                                            font-weight: 400;
                                        }
                                    }
                                    .iconDebitur {
                                        img {
                                            width: 100%;
                                        }
                                    }

                                    &::before {
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        left: 0;
                                        top:0 ;
                                        width: 10px;
                                        height: 100%;
                                        border-radius: 0 10px 10px 0;
                                    }

                                    &.debiturBaru {
                                        background: #eaf0f6;

                                        &::before {
                                            background: rgba(0, 122, 255, 0.8);
                                        }
                                    }
                                    &.debiturLunas {
                                        background: #ecf3f1;
                                        &::before {
                                            background: rgba(53, 194, 147, 0.8);
                                        }
                                    }
                                    &.outstanding,&.debiturMeninggal {
                                        background: #f5ecea;
                                    }
                                    &.outstanding {
                                        &::before {
                                            background: rgba(222, 53, 11, 0.8);
                                        }
                                    }
                                    &.debiturMeninggal {
                                        &::before {
                                            background: rgba(255, 86, 44, 0.8);
                                        }
                                    }
                                }
                            }
                        }
                        .thirdline {
                            .chartDataRekapBulanan {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                margin-bottom: 1.4rem;
                                h4 {
                                    font-weight: 600;
                                    margin-bottom: 1rem;
                                }
                                .wrapperChart {
                                    max-width: 350px;
                                }
                            }
                            .valueCard {
                                position: relative;
                                border-radius: 16px;
                                h6 {
                                    margin-bottom: .5rem;
                                    font-weight: 500;
                                }
                                h5 {
                                    font-weight: 600;
                                }

                                &::before {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    min-height: 100%;
                                    width: 8px;
                                    min-height: 60%;
                                    top: 20%;
                                    border-radius: 10px;
                                }

                                &.totalPokok {
                                    background: #ecf3f1;

                                    &::before {
                                        background: #35C293;
                                    }
                                }
                                &.totalBunga {
                                    background: #f5ecea;
                                    &::before {
                                        background: #DE350B;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .etwpLine {
                h4 {
                    margin-bottom: .5rem;
                    font-weight: 700;
                }
                h5 {
                    margin-bottom: 1.4rem;
                    color: rgba($color: #1B1C31, $alpha: .7);
                    font-weight: 700;
                }
                .dateMonth {
                    color: #1B1C31;
                    font-weight: 500;
                }
            }
        }
    }
}



/*Responsive*/
@media screen and (min-width : 0px) {
    #app {
        #mainContent {
            .bodyContent {
                .firstLine {
                    flex-direction: column;
                    .personilData {
                        margin-bottom: 1.5rem;
                        .personil {
                            padding: 1.5rem;
                            &:first-child {
                            margin-bottom: 1rem;
                            }
                        }
                    }

                    .chartRekapDataPertahun {
                        margin-bottom: 1.5rem;
                        h4 {
                            font-size: 20px;
                            margin-bottom: .7rem;
                        }
                        .wrapperChart {
                            canvas {
                                max-height: 310px;
                            }
                        }
                    }

                    .userDataWrapper {
                        .firstRow,.secondRow {
                            .userData {
                                padding: 1.2rem 1rem;
                                &:first-child {
                                    margin-right: 1rem;
                                }

                                .detailData {
                                    h5 {
                                        font-size: 16px;
                                    }
                                    p {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                        .firstRow {
                            margin-bottom: 1rem;
                        }
                    }
                }
                .secondLine {
                    .containerLine {
                        /*Baltab*/
                        .containerBaltab {
                            h4 {
                            }
                            .wrapperDataBaltab {
                                flex-direction: column;
                                .baltabData {
                                    padding: 2rem 1rem;
                                    width: 100%;

                                    &:not(:last-child) {
                                        margin-bottom: 1rem;
                                    }
                                    .icon {
                                        img {
                                            max-width: 64px;
                                        }
                                    }
                                    h4 {
                                        font-size: 18px;
                                        margin-bottom: .5rem;
                                        .value {
                                            padding: 0 .2rem;
                                        }
                                    }
                                    p {
                                        font-size: 14px;
                                        line-height: 16px;
                                    }
                                }
                            }
                        }
                            /*KPR*/
                        .containerKPR {
                            h4{

                            }
                            .firstLineKPR {
                                height: 100%;
                                margin-bottom: 1rem;
                                .tunggakanLine {
                                    width: 100%;
                                    height: 100%;
                                    .tunggakan {
                                        padding: 1.5rem 1rem;
                                        flex-direction: column;
                                        height: 100%;
                                        &:first-child {
                                            border-radius: 10px 0 0 0;
                                        }
                                        &:last-child {
                                            border-radius: 0 0 0 10px;
                                        }
                                        .wrapperChart {
                                            margin-bottom: 1rem;
                                            max-width: 100px;
                                        }
                                        .infoTunggakan {
                                            h5 {
                                                font-size: 14px;
                                                margin-bottom: 12px;
                                            }
                                            .value {
                                                margin-bottom: 2px;
                                                text-decoration: none;
                                            }
                                            p {
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                }
                                .debiturLine {
                                    width: 100%;
                                    .debitur {
                                        padding: 1.5rem 1rem;
                                        height: 50%;
                                        align-items: center;
                                        justify-content: center;
                                        flex-direction: column-reverse;
                                        &:first-child {
                                            border-radius: 0px 10px 0 0;
                                        }
                                        &:last-child {
                                            border-radius: 0 0 10px 0;
                                        }
                                        &::before {
                                            display: none;
                                        }
                                        .iconDebitur {
                                            margin-bottom: 1rem
                                        }
                                        .infoDebitur {
                                            h5 {
                                                font-size: 14px;
                                                margin-bottom: 10px;
                                            }
                                            .value {
                                                margin-bottom: 2px;
                                            }
                                            p {
                                                font-size: 14px;
                                            }
                                            .month {
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                }
                            }
                            .secondLineKpr {
                                .debiturDataLine {
                                    .debitur {
                                        margin-bottom: 1rem;
                                        .infoDebitur {
                                            h5 {
                                                margin-bottom: .7rem;
                                                font-size: 16px;
                                            }
                                            p {
                                                font-weight: 600;
                                                font-size: 14px;
                                                margin-bottom: .2rem;
                                                .value {
                                                    margin: 0 .2rem;
                                                }
                                            }
                                            .month {
                                                font-weight: 400;
                                                font-size: 12px;
                                                margin-bottom: 0;
                                            }
                                        }
                                    }
                                }
                            }
                            .thirdline {
                                .valueCard {
                                    padding: 1rem 1rem 1rem 1.2rem;
                                    &::before {
                                        left: 0;
                                    }
                                    h6 {
                                        font-size: 12px;
                                    }
                                    h5 {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width : 1200px) {
    #app {
        #mainContent {
            .bodyContent {
                .firstLine {
                    flex-direction: column;
                    .personilData {
                        flex-direction: row;
                        .personil {
                            width: 100%;
                            height: 100%;
                            &:first-child {
                                margin-right: 1rem;
                            }
                        }
                    }

                    .userDataWrapper {
                        .firstRow,.secondRow {
                            .userData {
                                .detailData {
                                    h5 {
                                        font-size: 18px;
                                    }
                                    p {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
                .secondLine {
                    display: flex;
                    .containerLine {
                        width: 100%;
                        &:first-child {
                            margin-right: 1rem;
                        }
                        .containerBaltab {
                            h4 {
                            }
                            .wrapperDataBaltab {
                                flex-direction: row;
                                margin: 0 -.5rem;
                                .baltabData {
                                    padding: 1.2rem;
                                    margin: 0 .5rem;
                                    &:not(:last-child) {
                                        margin-bottom: 0;
                                    }
                                    .icon {
                                        img {
                                            max-width: 52px;
                                        }
                                    }
                                    h4 {
                                        font-size: 14px;
                                    }
                                    p {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                        .containerKPR {
                            h4{

                            }
                            .firstLineKPR {
                                flex-direction: column;
                                .tunggakanLine {
                                    width: 100%;
                                    margin-bottom: 1rem;
                                    .tunggakan {
                                        padding: 1.2rem;
                                        flex-direction: row;
                                        height: 100%;
                                        border-radius: 10px !important;
                                        &:first-child {
                                            margin-bottom: 1rem;
                                        }
                                        .wrapperChart {
                                            margin-bottom: 0rem;
                                        }
                                        .infoTunggakan {
                                            padding-left: 1rem;
                                            h5 {
                                                font-size: 18px;
                                                margin-bottom: 12px;
                                            }
                                            .value {
                                                margin-bottom: 2px;
                                                text-decoration: none;
                                            }
                                            p {
                                                font-size: 14px;
                                            }
                                        }
                                    }
                                }
                                .debiturLine {
                                    width: 100%;
                                    .debitur {
                                        padding: 1.2rem 1.6rem !important;
                                        align-items: center;
                                        justify-content: space-between;
                                        flex-direction: row;
                                        border-radius: 10px !important;
                                        &:first-child {
                                            margin-bottom: 1rem;
                                        }
                                        &::before {
                                            display: block;
                                        }
                                        .iconDebitur {
                                            margin-bottom: 0rem;
                                        }
                                        .infoDebitur {
                                            h5 {
                                                font-size: 18px;
                                                margin-bottom: 10px;
                                            }
                                            p {
                                                font-size: 16px;
                                                .value {
                                                    padding: 0 2px 0 0;
                                                }
                                            }
                                            .month {
                                                font-size: 14px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width : 1600px) {
    #app {
        #mainContent {
            .bodyContent {
                .firstLine {
                    flex-direction: row;
                    .personilData {
                        width: 70%;
                        flex-direction: column;
                        margin-bottom: 0;
                        margin-right: 1.5rem;
                        .personil {
                            padding: 1rem 1.5rem;
                            width: 100%;
                            &:first-child {
                                margin-bottom: 1rem;
                                margin-right: 0;
                            }
                            .infoPersonil {
                                p {
                                    font-size: 18px;
                                }
                                h4 {
                                    font-size: 24px;
                                }
                            }
                        }
                    }

                    .chartRekapDataPertahun {
                        margin-right: 1.5rem;
                        margin-bottom: 0;
                        width: 130%;
                    }

                    .userDataWrapper {
                        width: 100%;
                        .firstRow,.secondRow {
                            height: 100%;
                            .userData {
                                height: 100%;
                                .detailData {
                                    h5 {
                                        font-size: 18px;
                                    }
                                    p {
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
                .secondLine {
                    .containerLine {
                        .containerBaltab {
                            h4 {
                            }
                            .wrapperDataBaltab {
                                .baltabData {
                                    padding: 2rem 1.5rem;
                                    .icon {
                                        img {
                                            max-width: 72px;
                                        }
                                    }
                                    h4 {
                                        font-size: 18px;
                                    }
                                    p {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                        .containerKPR {
                            h4{

                            }
                            .firstLineKPR {
                                flex-direction: row;
                                .tunggakanLine {
                                    width: 100%;
                                    margin-bottom: 0;
                                    margin-right: 1rem;
                                    .tunggakan {
                                        padding: 1.2rem;
                                        .wrapperChart {
                                            width: 100%;
                                            max-width: 90px;
                                        }
                                        .infoTunggakan {
                                            width: 100%;
                                            h5 {
                                                font-size: 18px;
                                            }
                                            p {
                                                font-size: 14px;
                                            }
                                        }
                                    }
                                }
                                .debiturLine {
                                    width: 100%;
                                    .debitur {
                                        padding: 1.6rem 1.5rem !important;
                                        height: fit-content;
                                        .infoDebitur {
                                            h5 {
                                                font-size: 18px;
                                            }
                                            p {
                                                font-size: 16px;
                                            }
                                            .month {
                                                font-size: 14px;
                                            }
                                        }
                                    }
                                }
                            }
                            .secondLineKpr {
                                .debiturDataLine {
                                    .debitur {
                                        margin-bottom: 1rem;
                                        .infoDebitur {
                                            h5 {
                                                margin-bottom: .7rem;
                                                font-size: 18px;
                                            }
                                            p {
                                                font-weight: 600;
                                                font-size: 14px;
                                                margin-bottom: .2rem;
                                            }
                                            .month {
                                                font-weight: 400;
                                                font-size: 14px;
                                                margin-bottom: 0;
                                            }
                                        }
                                    }
                                }
                            }
                            .thirdline {
                                .valueCard {
                                    padding: 1.8rem;
                                    &::before {
                                        left: 10px;
                                    }
                                    h6 {
                                        font-size: 14px;
                                    }
                                    h5 {
                                        font-size: 16px !important;
                                    }
                                }
                            }                            
                        }
                    }
                }
            }
        }
    }
}