.form-password {
    position: relative;
    .wrapperToggle {
        position: absolute;
        right: 24px;
        transform: translate(50%,50%);
        i {
            color: rgba(123, 128, 130, 1);
            font-weight: 400;
        }
    }
    .form-control {
        padding: 12px 34px 12px 12px !important;
    }
    &.invalid-password {
        .form-control {
            border: 1px solid #F2453D;
        }
    }
}
.requirement-wrapper {
    p {
        font-size: 12px;
        color: rgba(123, 128, 130, 1);
        font-weight: 400;
        margin-bottom: 8px;
    }
    .requirement {
        font-size: 12px;
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
}