/*Font Import from google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/*Variable Color*/
$primary-color : #558F4D;
$text-color :#42494D;

*,::before,::after,p,h1,h2,h3,h4,h5,h6 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.wrapperTable {
    .tables {
        thead {
            tr {
                th {
                    font-weight: 500;
                }
            }
        }
        tbody {
            tr {
                td {
                    font-weight: 400;
                }
            }
        }
    }
}